.Post{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    margin: 10px;
    padding: 20px 10px 40px 10px;
    box-sizing: border-box;
    height:100%;
    /* overflow: hidden; */
}

.Post .PostControls {
    position: absolute;
    width: inherit;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right:0;
}

.Editing {
    border: 1px solid rgba(255,0,0,.1);
    box-shadow: 0 0 10px rgba(255,0,0,.2);
}

.Post .Header,
.Post .Details {
    border: 1px solid transparent;
}

.Post .DetailsEditLine,
.Post .HeaderEditLine{
    border: 1px dashed black;
}

.Post .Header,
.Post .HeaderEditLine {
    min-height: 45px;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
}

.Post .Details,
.Post .DetailsEditLine,
.Post .ImageEditLine {
    display: block;
    min-height: 33px;
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 16px;
    padding: 5px 15px;
    box-sizing: border-box;
    text-align: justify ;
}

.Post .ImageEditLine{
    margin: 0;
}

.Post .Image{
    display: block;
    width: 100%;
    height: auto;
}

.Post .DeleteButton {
    border: none;
    background: none;

    display: flex;
    justify-content: center;
    align-self: flex-end;

    width: 30px;
    height: 30px;

    color:red;
    outline: none;
    font-size: 16px;

}

.Post .DeleteButton svg {
    position: relative;
    top: calc(50% - 8px);
}

.Post .DeleteButton:hover{
    cursor: pointer;
    color: black;
}