.ToolBar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.PostControls {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 1);
}
