.ToolBar, .ToolBar .Deleting{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Deleting {
    justify-content: flex-start;
}

.ToolBar .Button,
.ToolBar .Ok, 
.ToolBar .Thresh,
.Deleting .YES,
.Deleting .NO{
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 14px;
    color: red;
    border: none;
    background: none;
}
.ToolBar .Thresh{
    margin-right: auto;
}

.ToolBar .Ok,
.Deleting .NO {
    color: green;
}

.ToolBar .Button:hover,
.ToolBar .Ok:hover,
.ToolBar .Thresh:hover,
.Deleting .YES:hover,
.Deleting .NO:hover{
    cursor: pointer;
    color: black;
    background: none;
}

.ToolBar .Button:focus,
.ToolBar .Ok:focus,
.ToolBar .Thresh:focus,
.ToolBar .DetailsEditLine:focus,
.ToolBar .HeaderEditLine:focus,
.Deleting .NO:focus,
.Deleting .YES:focus{
    outline: none;
}

.ToolBar svg {
    position: relative;
    top: calc(50% - 7px);
}

.Deleting .NO,
.Deleting .YES{
    font-weight: bold;
}
