.Container{
    text-align: center;
}

.Auth {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

/* Input styles */

.Auth input{
    display: block;
    border-radius: 0;
    border: 1px solid gray;
    padding: 5px 15px;
    margin: 5px auto;
}

.Auth input:focus{
    outline: none;
}

/* Button styles */

.Auth button {
    display: block;
    border-radius: 0;
    border: 1px solid gray;
    padding: 10px 15px;
    margin:  15px auto 0 auto;
    background: white;
}

.Auth button:hover{
    background: rgb(231, 230, 230);
    cursor: pointer;
}

.Auth button:focus{
    border-radius: 0;
    border: 1px solid gray;
    outline: none;
}