.PostSettings{
    position: fixed;
    right:0;
    left: 0;
    top:100px;
    width: 300px;
    padding: 20px;
    margin: auto;
    display:flex;
    background: white;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-sizing: border-box;
    z-index: 101;
    filter: blur(0);
}

.PostSettings .Field{
    display: flex;
    width: 100%;
    align-items: center;
    /* line-height: 34px; */
    /* vertical-align: middle; */
}

.PostSettings label{
    margin-right: auto;
    font-size: 20px;
}

.PostSettings .Switch{
    margin-left: auto;
}