.App {
    display: flex;
    position: relative;
    /* justify-content: center; */
    width: 100%;
    box-sizing: border-box;
}

.App .Menu{
    width: 90px;
}

.App .Content{
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

.Blur  {
    filter: blur(5px);
}