.App {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

.App .Menu{
    position: absolute;
    left: 0;
    width: 90px;
}
